<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vegetable.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="com.vegetable.entity.UsersEntity">
    <!--@mbg.generated generated on Tue Dec 24 10:50:13 CST 2019.-->
    <!--@Table users-->
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
    <result column="user_age" jdbcType="INTEGER" property="userAge" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="user_head" jdbcType="VARCHAR" property="userHead" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_state" jdbcType="INTEGER" property="userState" />
    <result column="user_permissions" jdbcType="INTEGER" property="userPermissions" />
  </resultMap>

  <!--查询满足条件的用户信息-->
  <select id="selectUser" resultMap="BaseResultMap">
    select *
    from users
    <where>
      <if test="userName !=null and userName !=''">
        user_name like concat('%',#{userName},'%')
      </if>
      <if test="userState !=-1 ">
        and user_state = #{userState}
      </if>
      <if test="userPermissions !=-1 ">
        and user_permissions = #{userPermissions}
      </if>
    </where>
  </select>

</mapper>