<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vegetable.mapper.VegetableInfoMapper">
  <resultMap id="BaseResultMap" type="com.vegetable.entity.VegetableInfoEntity">
    <!--@mbg.generated generated on Thu Jan 09 10:55:09 CST 2020.-->
    <!--@Table vegetable_info-->
    <id column="v_id" jdbcType="VARCHAR" property="vId" />
    <result column="v_name" jdbcType="VARCHAR" property="vName" />
    <result column="v_nickName" jdbcType="VARCHAR" property="vNickname" />
    <result column="eat_way" jdbcType="VARCHAR" property="eatWay" />
    <result column="nutrients" jdbcType="VARCHAR" property="nutrients" />
    <result column="main_value" jdbcType="VARCHAR" property="mainValue" />
    <result column="plant_history" jdbcType="VARCHAR" property="plantHistory" />
    <result column="characteristics" jdbcType="VARCHAR" property="characteristics" />
    <result column="distribution" jdbcType="VARCHAR" property="distribution" />
    <result column="varieties" jdbcType="VARCHAR" property="varieties" />
    <result column="planting_way" jdbcType="VARCHAR" property="plantingWay" />
    <result column="growing_environment" jdbcType="VARCHAR" property="growingEnvironment" />
    <result column="growing_time" jdbcType="VARCHAR" property="growingTime" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="image" jdbcType="VARCHAR" property="image" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu Jan 09 10:55:09 CST 2020.-->
    v_id, v_name, v_nickName, eat_way, nutrients, main_value, plant_history, `characteristics`, 
    distribution, varieties, planting_way, growing_environment, growing_time, type_id, 
    image
  </sql>

  <!--查询满足条件的蔬菜信息-->
  <select id="selectVegetable" resultType="com.vegetable.entity.VegetableInfoEntity">
    select <include refid="Base_Column_List"></include>,t.t_name as typeName
    from vegetable_info v
    left join type t on v.type_id = t.t_id
    <where>
      <if test="vName != null and vName != ''">
        v_name like concat('%',#{vName,jdbcType=VARCHAR},'%')
      </if>
      <if test="vNickname != null and vNickname != ''">
        and v_nickName like concat('%',#{vNickname,jdbcType=VARCHAR},'%')
      </if>
      <if test="nutrients != null and nutrients != ''">
        and nutrients like concat('%',#{nutrients,jdbcType=VARCHAR},'%')
      </if>
      <if test="typeId != null">
        and type_id = #{typeId,jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <!--查询类别-->
  <select id="selectType" resultType="com.vegetable.entity.TypeEntity">
    select t_id,t_name,remark
    from type
  </select>

  <!--查询同类别蔬菜-->
  <select id="selectByTypeId" resultType="com.vegetable.entity.VegetableInfoEntity">
    select <include refid="Base_Column_List"></include>,t.t_name as typeName
    from vegetable_info v
    left join type t on v.type_id = t.t_id
    where v.type_id = #{typeId,jdbcType=INTEGER}
    order by rand()
    limit 4
  </select>

  <!--随机推荐 12条数据-->
  <select id="selectRand" resultType="com.vegetable.entity.VegetableInfoEntity">
    select <include refid="Base_Column_List"></include>,t.t_name as typeName
    from vegetable_info v
    left join type t on v.type_id = t.t_id
    order by rand()
    limit 12
  </select>

</mapper>